/* Projects Section */
.projects {
    padding: 8rem 0 5rem;
    background-color: var(--bg-dark-color);
    position: relative;
    color: white;
}

.projects::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(90deg, var(--accent-color), var(--primary-color));
    z-index: 10;
}

.projects h2 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.5rem;
    color: var(--secondary-color);
    position: relative;
}

.projects h2::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background: var(--primary-light);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

/* Responsive Design */
@media (max-width: 992px) {
    .projects h2 {
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 576px) {
    .projects h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .project-grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}